* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(187, 208, 255, 1) 0%, rgba(200, 182, 255, 1) 50%, rgba(255, 214, 255, 1) 100%);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}
